*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center{
  text-align:center;
}
#likeCount{
  color:green;
}
#dislikeCount{
  color:red;
}
.card-size{
  max-width:260px;
}
.header{
  text-align:center;
}.p-content{
  overflow:auto;
  max-height:200px;
}

.ui.slide.reveal {
    position: relative !important;
    overflow: hidden !important;
    white-space: inherit; 
    height : 250px
}
.dimmer-scroll{
  overflow:auto
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

.side-menu {
  /* Full screen nav menu */
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  box-sizing: border-box;
  display: block;
  background: #2d3042	;
  overflow-y: scroll;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 4.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 20px;
  height: 100%;
  float: left;
  margin-top: 5.55%;
}


body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #2d3042;
  position: relative;
  color: #efefef;
  text-align: center;
}
body a, body a:visited {
  color: #efefef;
  text-decoration: none;
}
body a:hover {
  color: #fff;
}

.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

card_title {
	font-size: 30%;
	text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  text-align: left;
  z-index: 1;
}
header h1 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding-top: 18px;
}
header nav {
  display: inline-block;
  float: right;
}
header nav ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
header nav ul li a {
  display: block;
  padding: 24px 15px;
}
header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 0;
  z-index: 1;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all .3s ease;
  opacity: .4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
}

.container {
  background-color: #f2f2f2;
  color: #444;
  line-height: 1.6;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.container .board{
  background-color: #f2f2f2;
  color: #444;
  line-height: 1.6;
  padding: 40px 0;
  margin-top: 1rem;
}

.container .nav{
   /* Full screen nav menu */
  width: 240px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  box-sizing: border-box;
  display: block;
  background: #2d3042	;
  overflow-y: scroll;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 4.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 0, 0);
  padding: 20px;
  height: 100%;
  float: left;
  margin-top: 3.5%;
}

.container .nav ul {
  padding: 0;
  margin: 0 0 25px;
}

.container .nav h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #B5B5B5;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 18px;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container .nav li {
  text-align: left;
  list-style: none;
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container .nav li a {
  text-decoration: none;
  font-size: 21px;
  color: #FFFFFF;
  line-height: 40px;
}
.container .nav li a:hover {
  color: #01a5e2;
}
.container .nav li a:hover::before {
  content: "";
  position: absolute;
  background: #01a5e2;
  width: 4px;
  height: 28px;
  display: block;
  left: -20px;
  margin-top: 6px;
}

.container .content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 3rem;
}
.container p {
  margin-bottom: 40px;
}

.cardwrapper {
  position: relative;
  /* width: 100%; */
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 10%;
  margin-left: 20%;
  width: 76%;
  display: flex;
  background: rgba(45, 48, 66, 0.7);
  -webkit-border-radius: 10px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

/* ----------------CreateStudy Start--------------------- */

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    width: 500px;
    max-width: 100%;
    display: block;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #2d3042;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    display: inline;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    display: inline;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #2d3042;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
/* DropDown */
.button-group {
  /* position: relative; */
  width: 500px;
  margin: 0 auto;
  margin-bottom: 2em;
  top: 5.5em;
  max-width: 105%;
}
.button-group .marka {
  position: relative;
  right: 8px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
  margin-left: 90%;
}
.button-group .marka i {
  background: grey!important;
}
#dropdown-menu {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 175px;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#dropdown-menu li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  opacity: 0;
}
#dropdown-menu li a {
  color: #222222;
  text-decoration: none;
  font-size: 1em;
}
#dropdown-menu.open {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#dropdown-menu.open li {
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
#dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
#input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #2d3042;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 0.95em;
  width: 95%;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#input.open {
  opacity: 0;
}

.open li:nth-child(1) {
  transition-delay: 0.07s !important;
}
.open li:nth-child(2) {
  transition-delay: 0.14s !important;
}
.open li:nth-child(3) {
  transition-delay: 0.21s !important;
}
.open li:nth-child(4) {
  transition-delay: 0.28s !important;
}
.open li:nth-child(5) {
  transition-delay: 0.35s !important;
}

/* DropDown */
#dropdown-menu2 {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 175px;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#dropdown-menu2 li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  opacity: 0;
}
#dropdown-menu2 li a {
  color: #222222;
  text-decoration: none;
  font-size: 1em;
}
#dropdown-menu2.open {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#dropdown-menu2.open li {
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
#dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
#input2 {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #2d3042;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 0.95em;
  width: 95%;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#input2.open {
  opacity: 0;
}

/* Dropdown 3 */

#dropdown-menu3 {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 175px;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#dropdown-menu3 li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  opacity: 0;
}
#dropdown-menu3 li a {
  color: #222222;
  text-decoration: none;
  font-size: 1em;
}
#dropdown-menu3.open {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#dropdown-menu3.open li {
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
#dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
#input3 {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #2d3042;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 0.95em;
  width: 95%;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
#input3.open {
  opacity: 0;
}

/* Dropdown 3 End */


/* ----------------CreateStudy End--------------------- */

/* ----------------Datepicker Start ------------------- */
.date-picker {
  margin: 0 auto;
  margin-bottom: 8px;
}

.date-picker {
  width: 100%;
  height: auto;
  max-height: 50px;
  background: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s 0s ease-in-out;
  border: 1px solid #cccccc;
}
.date-picker .input {
  width: 100%;
  height: 50px;
  font-size: 0;
  cursor: pointer;
}
.date-picker .input .result, .date-picker .input button {
  display: inline-block;
  vertical-align: top;
}
.date-picker .input .result {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
}
.date-picker .input button {
  width: 50px;
  height: 50px;
  background-color: #2d3042;
  color: white;
  line-height: 50px;
  border: 0;
  font-size: 18px;
  padding: 0;
}
.date-picker .input button:hover {
  background-color: #2d3042;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #8392A7;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.date-picker .ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
  border-color: #2d3042;
}
.date-picker .ui-datepicker-title {
  text-align: center;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #2d3042;
  margin-bottom: 5px;
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #2d3042;
  line-height: 40px;
  font-size: 12px;
}
.date-picker .ui-state-default:hover {
  background: rgba(0, 0, 0, 0.02);
}
.date-picker .ui-state-highlight {
  color: #2d3042;
}
.date-picker .ui-state-active {
  color: #2d3042;
  background-color: rgba(131, 146, 167, 0.12);
  font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: 400px;
}
.date-picker.open .input button {
  background: #2d3042;
}
/* ----------------- Datepicker End -------------------- */
