* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

p {
  font-size: 1.3rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: #2D3042;
  box-shadow: 0 0px 8px rgba(212, 212, 212, 0.4);
}
header .logo {
  display: flex;
  flex: 2.5;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

header .signin {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 4.5rem;
}

header .signup {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 1.5rem;
}

header .logininfo {
  display: flex;
  flex: 1.7;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 2.7rem;
}

header .signout {
  display: flex;
  flex: 1.7;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 2.5rem;
}


header nav {
  display: flex;
  flex: 7;
}
header nav .search-bar {
  display: flex;
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}
header nav .search-bar .search {
  display: flex;
  align-items: center;
  flex: 1;
}
header nav .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 1.2rem 1rem 1.2rem 4rem;
  height: 15px;
  font-size: 0.9rem;
  color: #4a4a4a;
  border: none;
  border-radius: 0;
  position: relative;
  right: 0;
  letter-spacing: .05rem;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ececec;
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 2rem;
  outline: 0;
  transition: background .3s ease-out, opacity .5s ease-out;
}
header nav .search-bar .search .search__input:focus {
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat 1rem 50% #FFFFFF;
  background-size: 2rem;
}
header nav .search-bar .search .search__btn {
  background: #36474f;
  height: 48px;
  border: none;
  width: 120px;
  color: #FFF;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
  outline: 0;
  transition: all .4s ease-out;
}
header nav .search-bar .search .search__btn:hover {
  background: #263137;
}
header nav .search-bar .search .search__icon {
  display: none;
}
header .menu {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  color: #FFF;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
}

.suggestion {
  display: flex;
  position: absolute;
  top: 60px;
  border-top: 1px solid #F1F1F1;
  opacity: 0;
  visibility: hidden;
}
.suggestion.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: rotation-show 0.5s 0.3s;
          animation: rotation-show 0.5s 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.suggestion__content {
  background: #fff;
  display: flex;
  flex: 1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  padding: .5em 1em;
  font-size: .8rem;
}
.suggestion__content .suggestion__content-right-side,
.suggestion__content .suggestion__content-left-side {
  flex: 1;
  padding: 1em;
}
.suggestion__content .suggestion__content-right-side h5,
.suggestion__content .suggestion__content-left-side h5 {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  color: #757575;
  font-weight: 600;
  margin-bottom: 5px;
}
.suggestion__content .suggestion__content-right-side ul,
.suggestion__content .suggestion__content-left-side ul {
  margin: 0;
  padding: 0;
}
.suggestion__content .suggestion__content-right-side ul li,
.suggestion__content .suggestion__content-left-side ul li {
  list-style-type: none;
  padding: 2px 0;
}
.suggestion__content .suggestion__content-left-side ul li {
  list-style-type: none;
  padding: 2px 0;
  color: #328dbb;
  cursor: pointer;
  transition: color .4s ease-out, -webkit-transform .4s ease;
  transition: color .4s ease-out, transform .4s ease;
  transition: color .4s ease-out, transform .4s ease, -webkit-transform .4s ease;
}
.suggestion__content .suggestion__content-left-side ul li:hover {
  color: #13587b;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.suggestion__content .suggestion__content-right-side h5 {
  text-align: center;
}
.suggestion__content .suggestion__content-right-side ul {
  padding: 0;
  max-width: 200px;
  margin: auto;
}
.suggestion__content .suggestion__content-right-side ul li {
  border: 1px solid #f3f3f3;
  background: #FFF;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background .3s ease-out, border .4s ease-in-out;
}
.suggestion__content .suggestion__content-right-side ul li:hover {
  border: 1px solid #607D8B;
  background: #f1f1f1;
}

.hide-element {
  display: none !important;
}

.mobile-search {
  margin: 0 1em;
  opacity: 1 !important;
  visibility: visible !important;
  width: 100%;
}

.close-icon {
  color: #909090 !important;
  position: absolute !important;
  right: 8% !important;
  font-size: 1rem;
}

@-webkit-keyframes rotation-show {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
            transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
            transform: perspective(1000px) translateY(0);
  }
}

@keyframes rotation-show {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
            transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
            transform: perspective(1000px) translateY(0);
  }
}
@media only screen and (max-width: 600px) {
  .search__input {
    font-size: 16px !important;
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

  .search__btn {
    display: none !important;
  }

  .search__icon {
    display: flex !important;
    color: #FFF;
    align-items: center;
    flex: 6;
    position: absolute;
    right: 5rem;
    cursor: pointer;
    height: 80px;
    line-height: 80px;
  }

  .message {
    position: relative;
    top: 80px;
    background: #f3f3f3;
    padding: 0.5rem 1.5rem;
    display: block !important;
    text-align: center;
  }
}
